/* Menambahkan CSS untuk ukuran peta */
#map {
    height: 400px;  /* Tentukan tinggi peta */
    width: 100%;    /* Lebar peta mengikuti lebar kontainer */
    margin-bottom: 20px; /* Ruang di bawah peta */
}

/* Styling untuk body */
body {
    font-family: Arial, sans-serif; /* Menetapkan font */
    margin: 0; /* Menghapus margin default */
    padding: 0; /* Menghapus padding default */
    background-color: #f4f4f9; /* Warna latar belakang lembut */
    text-align: center;
}

/* Styling untuk heading h1 */
h1 {
    color: #333; /* Warna teks judul */
    padding-top: 20px; /* Memberikan ruang di atas judul */
    font-size: 2rem; /* Menambah ukuran font */
    margin-bottom: 10px;
}

/* Memberikan beberapa padding di sekitar konten */
.content {
    padding: 20px;
}

